{% extends 'task/base.html' %}

{% block content %}
    {% for data in model %}
        <div class="taskblock" id="i{{ data.id }}">
            <span class="item" id="task">{{ data.task }}</span>
            <span class="item" id="author">
                {% if data.author %}
                    {% for user in data.author %}
                            <span class="user">{{ user }}</span>
                    {% endfor %}
                {% else %}
                    <span class="user" id="nobody">nobody</span>
                {% endif %}
            </span>
            <span class="item" id="status">
                <form id="i{{ data.id }}" method="POST" action="{% url 'task:update_status' %}">
                    {% csrf_token %}
                    <input type="hidden" id="status" value="{{ data.status }}">
                    {% if data.status == 0 %}
                        <span class="status incomplete" id="{{ data.id }}">incomplete</span>
                    {% elif data.status == 1 %}
                        <span class="status complete" id="{{ data.id }}">complete</span>
                    {% endif %}
                </form>
            </span>

            <span class="item" id="delbtn">
                <form id="{{ data.id }}" method="POST" action="{% url 'task:delete' %}">
                    {% csrf_token %}
                    <i class="linkbtn fas fa-trash-alt" id="delbtn" type="submit"></i>
                </form>
            </span>
        </div>
    {% endfor %}
    <!-- modal -->
    <div class="modal js-modal-create">
        <div class="modal__bg js-modal-create-close"></div>
        <form method="POST" action="{% url 'task:create' %}" name="create_form">
            <div class="modal__content">
                {% csrf_token %}
                {{ form.as_p }}
                <a class="linkbtn js-modal-create-close" href="">キャンセル</a>
                <a class="linkbtn post_submit" href="javascript:create_form.submit()" >作成</a>
            </div><!-- modal__inner -->
        </form>
    </div>
    <div class="modal js-modal-message">
        <div class="modal__message">
            <span id="result_message"></span>
        </div><!-- modal__inner -->
    </div>
    <!-- modal -->
{% endblock %}